<link rel="stylesheet" type=text/css href="{{url_for('static', filename='css/forms.css')}}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

<body>
    <div class="form-box">
        <div class='header'>
            <img src="{{url_for('static', filename='images/register-icon.png')}}" alt="Ícone de login"></img>
            <p>Profs' Review - Registro</p>
            {% if message %}
                <span class="error">{{ message }}</span>
            {% endif %}
        </div>
        <div class="form-body">
            <form action="/register" class='form' method="POST" id="form">
                <input type='text' name="username" id="username" placeholder='Escolha seu usuário' minlength="4" required></input>
                <div class="password-line">
                    <input type='password' name="password" id="password" placeholder='Escolha sua senha' minlength="6" required></input>
                    <i class="far fa-eye" id="toggle-password"></i>
                </div>
                <input type="hidden" name="password_hash" id="password-hash">
                <button class='form-button' type="submit">Cadastrar</button>
                <p>Já possui conta? <a href='/login'>Entre</a> agora</p>
            </form>
        </div>
    </div>
    <script src="../static/js/hash.js"></script>
    <script src="../static/js/change-visibility.js"></script>
</body>