{% if message %}
{{ message }}
{% endif %}

<form method="POST" action="/register">
    <label for="username">Nome de Usuário:</label>
    <input type="text" name="username" id="username" required>
    <label for="password_hash">Senha:</label> <!-- uso temporario -->
    <input type="password" name="password_hash" id="password_hash" required> <!-- uso temporario -->
    <!-- descomentar os abaixo apos implementar uma função em js pra gerar o hash da senha -->
    <!-- also verificar se a senha tem numeros letras simbolos -->
    <!--  <label for="password">Senha:</label>-->
    <!--  <input type="password" name="password" id="password" required>-->
    <!--  <input type="hidden" name="password_hash" id="password-hash">-->
    <button type="submit">Registrar</button>
</form>