.feed {
    width: 100%;

    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 32pt;
    margin: 20px 0;
    margin-left: 20px;
}

hr {
    width: calc(100% - 2px);
}