.sidebar {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: stretch;

    border-right: 2px solid white;
    
    min-height: 100%;
    width: 25%;
}

.sidebar h2 {
    font-size: 2.2em;
    margin: 10px 0;
}

.sidebar h2:first-child {
    margin: 0;
}

.sidebar hr {
    border: 0.5px solid white;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    justify-self: flex-start;
    height: 85%;
    justify-items: flex-start;
}

.bottom {
    justify-self: flex-end;
}