.text-box {
    width: 95%;
    margin-left: calc(2.5% - 10px);
    margin-top: 10px;
}

.text-review {
    background-color: #1C1C1C;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 16pt;
}